<!--<div class="card border-secondary mb-3" style="width: 18rem;">-->
<!--<img class="card-img-top" [src]="product.photo_url | safe" alt="Card image cap">-->
<!--<div class="card-body">-->
<!--<h5 class="card-title">{{product.name}}</h5>-->
<!--<p class="card-text">{{product.description}}</p>-->
<!--<button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>-->
<!--</div>-->
<!--</div>-->

<div>
  <div class="card h-100">
    <a href="#"><img class="card-img-top" [src]="product.photo_url | safe" alt="http://placehold.it/700x400"></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{product.name}}</a>
      </h4>
      <h5>{{product.price}}$</h5>
      <p class="card-text">{{product.description}}</p>
      <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
    </div>
    <div class="card-footer">
      <div class="row">
        <small class="text-muted">{{product.products_quantity}}</small>
        <button type="button" class="btn btn-labeled btn-success btn-sm">
          <i class="fa fa-plus"></i>
        </button>
        <button type="button" class="btn btn-labeled btn-danger btn-sm">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
